*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFB627;
    text-align: center;
}
#msg{
    font-size: 8vmin;
}
.msg{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hidden{
    display: none;
}
#new{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #CC5803;
    border: none;
    border-radius: 10px;    
}
.parent{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.9vmin;
}
.box{
    border:none;
    height:18vmin;
    width: 18vmin;
    background:white;
    color: red;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    font-weight: 400;
}
#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #CC5803;
    border: none;
    border-radius: 10px;
}